<div>
  <h2>Usage statistics</h2>
  <p>Total tokens consumed: {{this.model.total_tokens_consumed}}</p>
  <p>Total bot requests: {{this.model.total_chat_interactions}} </p>
  <p>Total users interacted: {{this.model.total_users_interacted}} </p>
</div>
